

  <!-- Footer Elements -->

<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

    <!-- Social buttons -->
    <div class="container my-auto">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/" target="_blank">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://twitter.com/home?lang=fr" target="_blank">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" href="https://www.google.com" target="_blank">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/feed/" target="_blank">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> © 2019 Copyright:
    <a href="https://github.com/AhmNouira" target="_blank"> IoT Platform  </a>
  </div>
    </div>
  <!-- Copyright -->

</footer>