<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="IoT Platform">
  <meta name="author" content="Ahmed Nouira">
  <link rel="shortcut icon" href="{{ url_for('static',filename='fav.ico') }}" type="image/x-icon">
  <!-- <link rel="icon" href="./images/fav.ico" type="image/x-icon"> -->

  {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title>__MyBlog__</title>
    {% endif %}

  <!-- Custom fonts for this template-->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">

  <!-- Page level plugin CSS-->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

      <!-- Page level plugin CSS-->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

</head>

<body class="bg-light" data-spy="scroll" data-offset="1" >   <!-- backgournd color -->

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
      {% endwith %}


 {% block content %} {% endblock %}




  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Page level plugin JavaScript-->
  <script src="../static/vendor/chart.js/Chart.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page
  <script src="../static/js/demo/chart-area-demo.js"></script> -->

</body>
</html>
