{% extends 'base_dashboards.html'%}

{% block content_dashboards %}
<div class="content-wrapper">
    <div class="container-fluid">

        <h1> Hi <strong> {{ current_user.firstname }} {{ current_user.lastname }} </strong> Welcome to our IoT platform :
        </h1>
        <hr>

     <div>
         <h3> --> You have now <strong style="color:red"> {{ c }} </strong> cards registered in this platform </h3>

         <h4 style="color:red"><u> Your boards are: </u></h4>
         <ul>
            {% for c in cards %}
         <li><h5> name: {{ c.name }}, reference: {{c.id }}  </h5></li>
            {% endfor %}
         </ul>

     </div>

        <!--     <form action=" " method="post">
                <div class="form-group">
                {{ form.hidden_tag() }}
                    <div class="form-label-group">
                    {{ form.type_card(class="form-control", placeholder="Name of card",  autofocus=True) }}
                    {{ form.type_card.label }}
                    </div>
                 </div>
                 {{ form.submit(class="btn btn-primary btn-block")}}

              </form> -->
     </div>
 </div>

{% endblock %}