{% extends "base.html" %}
{% block content  %}
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Edit Profile</div>
      <div class="card-body">
        <form action=" " method="post">
          {{ form.hidden_tag() }}    <!-- !!!!!!!!!!!!!!   -->
          <div class="form-group">
            <div class="form-row">

              <div class="col-md-6">
                <div class="form-label-group">
                  {{form.firstname(class="form-control", placeholder="New first name ?", autofocus=True) }}
                  {{form.firstname.label }}
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-label-group">
                   {{ form.lastname(class="form-control", placeholder= "New last name ?") }}
                   {{form.lastname.label }}
                </div>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="form-row">

              <div class="col-md-6">
                <div class="form-label-group">
                  {{ form.password(class="form-control", placeholder ="New password ?") }}
                  {{ form.password.label }}
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-label-group">
                  {{ form.password_confirm(class="form-control", placeholder ="Confirm Password") }}
                  {{ form.password_confirm.label }}
                </div>
              </div>

            </div>
          </div>

          {{ form.submit(class="btn btn-primary btn-block")}}
        </form>

        <div class="text-center">
           <a class="d-block small mt-3" href="{{ url_for('dashboard') }}"> Back </a>
        </div>

      </div>
    </div>
  </div>

{% include '_footer.html' %}
{% endblock %}