{% extends 'base_dashboards.html'%}

{% block content_dashboards %}

<div class="content-wrapper">
<div class="container-fluid">
<hr>
     <!-- DataTables Example -->
        <div class="card  mx-auto mt-7">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Users Infromations </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>email</th>
                    <th>password</th>
                    <th>cards</th>
                    <th>action</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>id</th>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>email</th>
                    <th>password</th>
                    <th>cards</th>
                    <th>action</th>
                  </tr>
                </tfoot>
                <tbody>

                {% for u in users %}
                  <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.firstname }}</td>
                    <td>{{ u.lastname }} </td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.password }}</td>
                    <td>{{ u }}</td>
             <!--       {% if u.email != "ahmnouira@gmail.com" %} -->
                    <td> {{ form.submit() }} </td>
               <!--     {% endif %} -->
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Last Update at  {{ time }} </div>
        </div>

        <!-- <p class="small text-center text-muted my-5">
          <em>More table examples coming soon...</em>
        </p> -->

      </div>
</div>

<script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="../static/js/demo/datatables-demo.js"></script>


{% endblock %}