

{% extends 'base_dashboards.html'%}

{% block content_dashboards %}

<div class="container">
<hr>
     <!-- DataTables Example -->
        {% if cards.count() > 0 %}
        <div class="card  mx-auto mt-7">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Your Cards Infromations </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th> Delete </th>
                    <th> id </th>
                    <th> card_name </th>
                    <th> created </th>
                    <th> dht11_values </th>
                    <th> gaz_values </th>
                    <th> API_Card </th>
                    <th> API_DHT11 </th>
                  </tr>
                </thead>

                <tbody>
                {% for c in cards %}
                  <tr>
                    <td>
                      <form action="" method="post" >
                         {{ form.hidden_tag() }}
                      <button onclick="return confirm('Are you sure you want to delete this card: {{c.name}}[{{c.id}}] ?');" title="Delete record" name="delete" value="{{c.id}}">
                    <span class="fa fa-trash"></span>
                    </button></form></td>

                    <td>{{ c.id }}</td>
                    <td><a class="text-danger" href="{{url_for('card_data', card_id=c.id) }} ">{{ c.name }}</a></td>
                    <td>{{ c.timestamp }} </td>
                    <td>{{ c.dht11_values.count() }}</td>
                    <td>{{ c.gaz_values.count() }}</td>
                    <td><a class="text-danger" href=" {{url_for('card', id=c.id) }} ">  {{ '/api/cards/{}/'.format(c.id) }}</a></td>
                    <td><a class="text-danger" href=" {{url_for('card_dht11', id=c.id) }} "> {{ url_for('card_dht11', id=c.id) }}</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">
            <div>Last Update at <span class="font-weight-bold"> {{ time }}</span> </div>
            <a class="d-block large text-success font-weight-bolder " href= "{{ url_for('create_card') }}"> Create a New Card ? </a></div>
        </div>


        <!-- <p class="small text-center text-muted my-5">
          <em>More table examples coming soon...</em>
        </p> -->
        {% else %}
        <h1 class="text-center text-danger display-4"> No cards yet !</h1>
        <h3 class="text-center">&nbsp; In Order to get started using this application please<br>>>>>> <a class="text-success font-weight-bolder" href=" {{ url_for('create_card') }}"> register a card </a><<<<<</h3>
        {% endif %}
      </div>

<script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="../static/js/demo/datatables-demo.js"></script>


{% endblock %}
